body {
  background-color: grey;
  margin: 0px;
}

.bg1, .bg2, .bg3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg1 {
  background-image: url(./img/bg1.jpg);
  min-height: 600px;
}

.bg2 {
  background-image: url(./img/bg1.jpg);
  background-color: blue;
  background-blend-mode: difference;
  min-height: 400px;
}

.bg3 {
  background-image: url(./img/bg1.jpg);
  background-color: red;
  background-blend-mode: difference;
  min-height: 400px;
}

.bar {
  background-color: black;
  position: relative;
  width: 100%;
  height: 300px;
  margin: 0 auto;
  opacity: 1.0;
}

.nav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.text {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}

.textstuff {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
